.todo-container {
  max-width: 400px;
  margin: 32px auto;
  padding: 24px;
  /* border: 1px solid #e0e0e0; */
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  text-align: center;
  background: linear-gradient(135deg, #ff59f4, #4ba6fb 70%);
  color: #333;
  font-family: 'Arial', sans-serif;
  box-shadow: 10px 10px 50%;
}

.add-task {
  display: flex;
  gap: 10px;
  margin-bottom: 24px;
}

.add-task input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: border 0.3s ease;
}

.add-task input:focus {
  border-color: #ff758c;
  box-shadow: 0 0 5px rgba(255, 117, 140, 0.5);
}

.add-task button {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  color: #fff;
  transition: background 0.3s ease;
}

.add-task button:hover {
  background: linear-gradient(135deg, #ff869e, #ff9ab8);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12.8px;
  border-radius: 8px;
  /* border-bottom: 1px solid #eee; */
  transition: background 0.3s ease;
}

li:hover {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}

.completed {
  text-decoration: line-through;
  color: #a0a0a0;
}

.botao {
  display: inline-block;
  padding: 4.8px 9.6px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.botao:hover {
  background: linear-gradient(135deg, #ff869e, #ff9ab8);
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.botao:active {
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #ff647f, #ff719f);
}
